.venv/
venv/
env/
bin/
lib/
develop-eggs/
dist/
build/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
*.swp
*.swo

converted-mp4

.DS_Store
Thumbs.db

*.log